<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <template>
    <footer>
      <span class='fText'>© <span id='year'></span> JRM</span>
      <span class='buttonContainer'>
        <a href='https://www.facebook.com/'><img class='tinyIcon' src='images/icons/facebook.svg' alt='Facebook'></a>
        <a href='https://www.instagram.com/'><img class='tinyIcon' src='images/icons/instagram.svg' alt='Instagram'></a>
        <a href='https://www.twitter.com/'><img class='tinyIcon' src='images/icons/twitter.svg' alt='Twitter'></a>
      </span>
    </footer>
  </template>
</body>

</html>