<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <template>
    <header>
      <a href='index.html'><img class='logo' src="images/icons/logo.svg" alt="Logo"></a>
      <span class='buttonContainer'>
        <a id='toTop'  href="#"><img class='tinyIcon' src="images/icons/toTop.svg" alt="Saltar hacia arriba"></a>
        <a href="#"><img class='tinyIcon' src="images/icons/darkMode.svg" alt="Activar modo oscuro"></a>
        <span id="menuBtn"><img class='tinyIcon' src="images/icons/menu.svg" alt="Menu"></span>
      </span>
    </header>
  </template>

</body>

</html>