<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <template>
    <nav>
      <ul>
        <li class='navList'>
          <img src='images/icons/avatarm.svg' class='tinyIcon'>
          <a href='about.html'>Nosotros</a>
        </li>
        <li class='navList'>
          <img src='images/icons/articles.svg' class='tinyIcon'>
          <a href='articles.html'>Articulos</a>
        </li>
        <li class='navList'>
          <img src='images/icons/gallery.svg' class='tinyIcon'>
          <a href='gallery.html'>Galería</a>
        </li>
        <li class='navList'>
          <img src='images/icons/projects.svg' class='tinyIcon'>
          <a href='#'>Proyectos</a>
        </li>
      </ul>
    </nav>
  </template>
</body>

</html>