*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
	font-family: 'equity';
	src: url(../fonts/equity-regular-webfont.woff);
	font-style: normal;
	font-weight: 400; 
}
@font-face {
	font-family: 'equity';
	src: url(../fonts/equity-italic-webfont.woff);
	font-style: italic;
	font-weight: 400; 
}
@font-face {
	font-family: 'equity';
	src: url(../fonts/equity-bold-webfont.woff);
	font-weight: 700; 
}
:root {
	--mainColor: black;
	--headFooTextColor: white;

	--bgColor: #d6d6d6;
	--textColor: black;
	
	--fancyTextColor: gray;

	--darkBgColor: black;
	--darkTextColor: white;
  scroll-behavior: smooth;
  
  --siteMaxWidth: 100%;
}
h1,h2,h3,h4,h5,h6{
  color: var(--mainColor);
  font-family: equity;
  font-weight: 700;
  margin: 1rem 0;
}
body, h1, h2, h3, h4, h5, h6, p, li, button, header, nav, footer{
	transition: .5s;
}
a{
	text-decoration: none;
}
p{
	text-align: justify;
	font-size: 1rem;
	margin: 1rem 0;
}
ul{
	list-style: square;
	margin: 0 0 0 1rem;
}
mark {
	background-color: var(--fancyTextColor);
	color: var(--textColor);
}
blockquote{
	color: var(--fancyTextColor);
	font-size: 1.5rem;
	margin: 1rem;
}
button{
	background: var(--mainColor);
	color: var(--headFooTextColor);
	margin: 10px;
	padding: 10px;
	border: none;
	border-radius: 10px;
	font-family: inherit;
	font-weight: bold;
	font-size: 1.1rem;
	cursor: pointer;
}
body{
	font-family: 'equity', serif;
  background: var(--bgColor);
  /* max-width: 1200px; */
  margin: auto;
}
header{
  background: var(--mainColor);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 30;
  max-width: var(--siteMaxWidth);
  margin: auto;
}
header .logo{
  max-height: 50px;
  padding: 10px 16px 5px;
  display:block;
  filter: invert(100%);
}
.buttonContainer{
  display: flex;
}
.buttonContainer .tinyIcon{
  filter: invert(100%);
}
nav{
  background: var(--mainColor);
  position: fixed;
  z-index: 20;
  right: -50%;
  top: -40%;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
  opacity: 0;
}
.show{
	right: 5px;
	top: 55px;
	opacity: 1;
}
nav ul {
  margin: 0;
  list-style: none;
}
.navList {
  display: flex;
  flex-direction: row;
  height: 50px;
}
.navList .tinyIcon {
  filter: invert(100%);
}
.tinyIcon {
  padding: 15px;
  max-height: 50px;
  max-width: 50px;
  display: block;
}
.navList a{
  color: var(--headFooTextColor);
  text-decoration: none;
  padding: 0 15px 0 0;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  width: 100%;
}
main{
  padding: 1rem;
  margin: auto;
  max-width: var(--siteMaxWidth);
}
footer{
  background: var(--mainColor);
  display: flex;
  justify-content: space-between;
  max-width: var(--siteMaxWidth);
  align-items: center;

  margin: auto;
}
.fText{
  color: var(--headFooTextColor);
  padding: 15px;
  font-weight: 700;
}